<!DOCTYPE html>
<html>
    <head>
        <title>Attack Calc</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="common.css" type="text/css">
        <script src="./lib/define.js"></script>
        <script src="./lib/data.js"></script>
        <script src="./lib/agent.js"></script>
        <script src="./lib/skill.js"></script>
        <script src="./lib/w-engine.js"></script>
        <script src="./lib/disc-driver.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="importmap">
            {
                "imports": {
                  "vue": "https://unpkg.com/vue@3.5.13/dist/vue.esm-browser.js",
                  "vue/server-renderer": "https://cdn.jsdelivr.net/npm/@vue/server-renderer@3.5.13/dist/server-renderer.esm-browser.js"
                },
                "scopes": {}
            }
        </script>
    </head>
    <body>
        <header>
            <h1>ZZZ Dmg Calc</h1>
        </header>
        <main>
            <section :data-update="this.count">
                <section v-for="(agent, patternNo) in data" class="pattern" :id="'pattern-' + patternNo">
                    <header>
                        <h3 class="hidden-mobile">{{ (String(patternNo + 1).length == 1) ? '0' + (patternNo + 1) : patternNo + 1 }}</h3>
                        <div class="summary" :style="'background-image: url(./img/agent-thumb-'+agent.charId+'.png); background-repeat: no-repeat;'">
                            <p>Expected ATK<br><b :class="'number '+ agent.attribute.primary">{{ agent.calcDmg({attribute:agent.attribute.primary,multiplier: 100, growth: 0},16,'expected') }}</b><span class="hidden-mobile"> (Amplified:{{ amplificationRatio(patternNo) }}) / Ratio to standard:{{ calcRatioToStd(patternNo) }}</span></p>
                            <ul class="equipment">
                                <li class="w-engine"><img :src="'./img/icon_wengine_' + agent.equipment.wEngine.id + '.webp'" width="40px" height="40px"></li>
                                <li v-for="key in agent.equipment.discPattern + 2" :class="'disc set'+ key"><img v-if="agent.equipment.discSet[key - 1] !== null" :src="'./img/icon_disc_' + agent.equipment.discSet[key - 1] + '.webp'" width="40px" height="40px"></li>
                            </ul>
                        </div>
                        <details class="control">
                            <summary>⚙️</summary>
                            <ul>
                                <li><button @click="setStd(patternNo)">Set to standard</button></li>
                                <li><button @click="addPattern(patternNo)">Duplication</button></li>
                                <li><button title="Delete" @click="deletePattern(patternNo)">Delete</button></li>
                            </ul>
                        </details>
                    </header>
                    <div class="control">
                        <div class="radio-group">
                            Display<span>
                                <label><input type="radio" :name="'p'+ patternNo + '-size'" class="result">Result</label>
                                <label><input type="radio" :name="'p'+ patternNo + '-size'" class="half" checked>Both</label>
                                <label><input type="radio" :name="'p'+ patternNo + '-size'" class="setting">Setting</label>
                                <label><input type="radio" :name="'p'+ patternNo + '-size'" class="minimize">minimize</label></span>
                        </div>
                    </div>
                    <section class="result">
                        <div class="wrapper">
                            <nav class="page">
                                <ul>
                                    <li><a :href="'#p' + patternNo + '-skills'">Skills</a></li>
                                    <li><a :href="'#p' + patternNo + '-status'">Status</a></li>
                                </ul>
                            </nav>
                            <section class="skill" :id="'p' + patternNo + '-skills'">
                                <h4>Skill Damage</h4>
                                <div>
                                    <div v-for="val,key in define.skillType" class="data">
                                        <h5 :class="'skill ' + val">[{{ val }}] <label>Level : <input type="text" v-model="agent.skills[val].level" size="2" min="1" :max="agent.skills.levelLimit" list="skill-level"> <input type="range" min="1" :max="agent.skills.levelLimit" v-model="agent.skills[val].level" class="small"></label></h5>
                                        <table v-for="data, key in agent.skills[val].data">
                                            <caption>{{define.skillGroupName.jp[val][data.group.secondary]}} : {{ data.name.jp }}</caption>
                                            <thead>
                                                <tr>
                                                    <th>&nbsp;</th>
                                                    <th>Attr.</th>
                                                    <th>Multiplier</th>
                                                    <th>Normal</th>
                                                    <th>Critical</th>
                                                    <th>Expected</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="param, key in data.params">
                                                    <th v-if="data.group.secondary == 'charge'">{{ 'Lv.' + (key + 1) }}</th>
                                                    <th v-else>{{ key + 1 }}{{ key == 0 ? 'st' : key == 1 ? 'nd' : key == 2 ? 'rd' : 'th' }} Hit</th>
                                                    <td><img :src="'./img/icon_type_' + param.type.toLowerCase() + '.png'" width="16px" height="16px"> <img :src="'./img/icon_attribute_' + param.attribute.toLowerCase() + '.png'" width="16px" height="16px"></td>
                                                    <!--<td>{{ data.dmgResults[key].multiplier }}%</td>-->
                                                    <!--<td>{{ data.dmgResults[key].normal }}</td>
                                                    <td>{{ data.dmgResults[key].critical }}</td>
                                                    <td><b>{{ data.dmgResults[key].expected }}</b></td>-->
                                                    <td>{{ agent.calcDmg(param, agent.skills[val].level, 'multiplier') }}%</td>
                                                    <td>{{ agent.calcDmg(param, agent.skills[val].level, 'normal') }}</td>
                                                    <td>{{ agent.calcDmg(param, agent.skills[val].level, 'critical') }}</td>
                                                    <td><b>{{ agent.calcDmg(param, agent.skills[val].level, 'expected') }}</b></td>
                                                </tr>
                                            </tbody>
                                            <!--
                                            <tfoot>
                                                <tr v-if="data.combo == 'TRUE'">
                                                    <th>TTL</th>
                                                    <td>&nbsp;</td>
                                                    <td>270%</td>
                                                    <td>3000</td>
                                                    <td>4500</td>
                                                    <td>3750</td>
                                                </tr>
                                            </tfoot>
                                            -->
                                        </table>
                                    </div>
                                    <datalist id="skill-level">
                                        <option v-for="i in agent.skills.levelLimit" :label="i" :value="i"></option>
                                    </datalist>
                                </div>
                                <h4>Anomaly Damage</h4>
                                <div>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Normal</th>
                                                <th>Critical</th>
                                                <th>Expected</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>10000</td>
                                                <td>15000</td>
                                                <td>12500</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <section class="status" :id="'p' + patternNo + '-status'">
                                <h4>Status details</h4>
                                <div>
                                    <table class="value-details">
                                        <colgroup>
                                            <col span="2">
                                            <col>
                                            <col span="2">
                                            <col span="2">
                                            <col>
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="2">Status Detail</th>
                                                <th rowspan="2">Agent</th>
                                                <th colspan="2">W-Engine</th>
                                                <th colspan="2">Driver</th>
                                                <th rowspan="2">Total</th>
                                            </tr>
                                            <tr>
                                                <th>Main</th>
                                                <th>Adv.</th>
                                                <th>%</th>
                                                <th>Val</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th colspan="2">HP</th>
                                                <td>{{ agent.base.hp }}</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.wEngine.advSt['hp-p'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['hp-p'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['hp-v'] }}</td>
                                                <td>{{ agent.hp }}</td>
                                            </tr>
                                            <tr>
                                                <th colspan="2">ATK</th>
                                                <td>{{ agent.base.atk }}</td>
                                                <td>{{ agent.equipment.wEngine.atk }}</td>
                                                <td>{{ agent.equipment.wEngine.advSt['atk-p'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['atk-p'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['atk-v'] }}</td>
                                                <td>{{ agent.atk }}</td>
                                            </tr>
                                            <tr>
                                                <th colspan="2">DEF</th>
                                                <td>{{ agent.base.def }}</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.wEngine.advSt['def-p'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['def-p'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['def-v'] }}</td>
                                                <td>{{ agent.def }}</td>
                                            </tr>
                                            <tr>
                                                <th colspan="2">Impact</th>
                                                <td>{{ agent.base.imp }}</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.wEngine.advSt['imp-p'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['imp-p'] }}%</td>
                                                <td>-</td>
                                                <td>{{ agent.imp }}</td>
                                            </tr>
                                            <tr>
                                                <th rowspan="2">CRIT</th>
                                                <th>Rate</th>
                                                <td>{{ agent.base.critR }}%</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.wEngine.advSt['crit-r'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['crit-r'] }}%</td>
                                                <td>-</td>
                                                <td>{{ agent.critR }}%</td>
                                            </tr>
                                            <tr>
                                                <th>DMG%</th>
                                                <td>{{ agent.base.critD }}%</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.wEngine.advSt['crit-d'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['crit-d'] }}%</td>
                                                <td>-</td>
                                                <td>{{ agent.critD }}%</td>
                                            </tr>
                                            <tr>
                                                <th rowspan="2">ANOM</th>
                                                <th>Build</th>
                                                <td>{{ agent.base.anmB }}</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.wEngine.advSt['anm-b'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['anm-b'] }}%</td>
                                                <td>-</td>
                                                <td>{{ agent.anmB }}</td>
                                            </tr>
                                            <tr>
                                                <th>Prof.</th>
                                                <td>{{ agent.base.anmP }}</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.wEngine.advSt['anm-p'] }}</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.discTotal['anm-p'] }}</td>
                                                <td>{{ agent.anmP }}</td>
                                            </tr>
                                            <tr>
                                                <th rowspan="2">PEN</th>
                                                <th>Ratio</th>
                                                <td>0%</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.wEngine.advSt['pen-r'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['pen-r'] }}%</td>
                                                <td>-</td>
                                                <td>{{ agent.penR }}%</td>
                                            </tr>
                                            <tr>
                                                <th>Value</th>
                                                <td>0</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.discTotal['pen-v'] }}</td>
                                                <td>{{ agent.penV }}</td>
                                            </tr>
                                            <tr>
                                                <th colspan="2">EN Regen</th>
                                                <td>{{ agent.base.enReg }}</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.wEngine.advSt['en-reg'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['en-reg'] }}%</td>
                                                <td>-</td>
                                                <td>{{ agent.enReg }}</td>
                                            </tr>
                                            <tr>
                                                <th rowspan="6">DMG Bonus</th>
                                                <th>Physical</th>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.wEngine.advSt['bonus-phy'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['bonus-phy'] }}%</td>
                                                <td>-</td>
                                                <td>{{ agent.bonusPhy }}%</td>
                                            </tr>
                                            <tr>
                                                <th>Fire</th>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.wEngine.advSt['bonus-fire'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['bonus-fire'] }}%</td>
                                                <td>-</td>
                                                <td>{{ agent.bonusFire }}%</td>
                                            </tr>
                                            <tr>
                                                <th>Ice</th>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.wEngine.advSt['bonus-ice'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['bonus-ice'] }}%</td>
                                                <td>-</td>
                                                <td>{{ agent.bonusIce }}%</td>
                                            </tr>
                                            <tr>
                                                <th>Electric</th>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.wEngine.advSt['bonus-ele'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['bonus-ele'] }}%</td>
                                                <td>-</td>
                                                <td>{{ agent.bonusEle }}%</td>
                                            </tr>
                                            <tr>
                                                <th>Ether</th>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.wEngine.advSt['bonus-eth'] }}%</td>
                                                <td>{{ agent.equipment.discTotal['bonus-eth'] }}%</td>
                                                <td>-</td>
                                                <td>{{ agent.bonusEth }}%</td>
                                            </tr>
                                            <tr>
                                                <th>Deal</th>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>{{ agent.equipment.wEngine.advSt['bonus-dmg'] }}%</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>{{ agent.bonusDmg }}%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </section>
                    <section class="main">
                        <nav class="page">
                            <ul>
                                <li><a :href="'#p' + patternNo + '-agent'">Agent</a></li>
                                <li><a :href="'#p' + patternNo + '-wengine'">W-Engine</a></li>
                                <li><a :href="'#p' + patternNo + '-driver'">Driver set</a></li>
                                <li><a :href="'#p' + patternNo + '-disc'">Driver stats</a></li>
                            </ul>
                        </nav>
                        <div class="wrapper">
                            <section class="agent" :id="'p' + patternNo + '-agent'">
                                <h4>Agent</h4>
                                <div>
                                    <p>Name : {{ agent.name.jp }}</p>
                                    <table class="basic-status">
                                        <tr>
                                            <th>Class</th><td>{{ agent.type }}</td>
                                            <th>Rank</th><td>{{ agent.rank }}</td>
                                            <th>Attr.</th><td><img :src="'./img/icon_attribute_' + agent.attribute.primary.toLowerCase() + '.png'" width="16pt" height="16pt">{{ agent.attribute.secondary ? agent.attribute.secondary : agent.attribute.primary }}</td>
                                        </tr>
                                        <tr>
                                            <th>HP</th><td>{{ agent.base.hp }}</td>
                                            <th>ATK</th><td>{{ agent.base.atk }}</td>
                                            <th>DEF</th><td>{{ agent.base.def }}</td>
                                        </tr>
                                        <tr>
                                            <th>Impact</th><td>{{ agent.base.imp }}</td>
                                            <th>ANOM Build.</th><td>{{ agent.base.anmB }}</td>
                                            <th>ANOM Prof.</th><td>{{ agent.base.anmP }}</td>
                                        </tr>
                                    </table>
                                    <h5>Basics Setting</h5>
                                    <fieldset>
                                        <legend>Agent Level : {{ agent.level }} / {{ agentClass.rangeLimits.level.max }}</legend>
                                        <label><input type="range" min="1" max="12" v-model="agent.level" disabled></label>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Mindscape : {{ agent.mindscape }} / {{ agentClass.rangeLimits.mindscape.max }}</legend>
                                        <label><input type="range" min="0" max="6" v-model="agent.mindscape"></label>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Core Passive : {{ agent.coreLevel }} / {{ agentClass.rangeLimits.coreLevel.max }}</legend>
                                        <label><input type="range" :min="agentClass.rangeLimits.coreLevel.min" :max="agentClass.rangeLimits.coreLevel.max" v-model="agent.coreLevel"></label>
                                        Effects : 
                                    </fieldset>
                                    <fieldset>
                                        <legend>Skill Level (Batch setting) : {{ agent.skills.levelBatch }} / {{ agent.skills.levelLimit }}</legend>
                                        <label><input type="range" min="1" :max="agent.skills.levelLimit" v-model="agent.skills.levelBatch"></label>
                                    </fieldset>
                                    <div class="change-agent">
                                        <h5>Agent change</h5>
                                        <label><input type="checkbox" v-model="agent.selector.wEngine.autoEquipment" :value="Boolean(true)">Automatically apply Motif W-Engine</label>
                                        <fieldset>
                                            <legend>Filter</legend>
                                            <div>Class
                                                    <label v-for="(val, key) in agentClass.types">
                                                        <input type="radio" :name="'p'+ patternNo + 'agent-class'" v-model="agent.selector.type" :value="val">{{ val }}
                                                    </label>
                                            </div>
                                            <div>Rank
                                                    <label v-for="(val, key) in agentClass.ranks">
                                                        <input type="radio" :name="'p'+ patternNo + 'agent-rank'" v-model="agent.selector.rank" :value="val">{{ val }}
                                                    </label>
                                            </div>
                                        </fieldset>
                                        <div class="flex">
                                            <button @click="agent.initAgent(data[0])" v-for="(data, key) in agentClass.agentData.filter(val => val[1] == agent.selector.type && val[2] == agent.selector.rank)" :class="'agent-' + data[0] + (data[0] == agent.charId ? ' selected' : '')"><span>{{ data[6] }}</span></button>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="wengine" :id="'p' + patternNo + '-wengine'">
                                <h4>W-Engine</h4>
                                <div>
                                    <p>Name : {{ agent.equipment.wEngine.name }}</p>
                                    <table class="basic-status">
                                        <tr>
                                            <th>Class</th><td>{{ agent.equipment.wEngine.type }}</td>
                                            <th>Rank</th><td>{{ agent.equipment.wEngine.rank }}</td>
                                        </tr>
                                        <tr>
                                            <th>ATK</th><td>{{ agent.equipment.wEngine.atk }}</td>
                                            <th>Adv.</th><td>{{ define.display[Object.entries(agent.equipment.wEngine.advSt).find(obj => obj != 0)[0]] }} +{{ Object.entries(agent.equipment.wEngine.advSt).find(obj => obj != 0)[1] }}</td>
                                        </tr>
                                    </table>
                                    <fieldset>
                                        <legend>W-Engine Level : {{ agent.equipment.wEngine.level }} / {{ wEngineClass.valuesLimit.level}}</legend>
                                        <label><input type="range" min="0" :max="wEngineClass.valuesLimit.level" v-model="agent.equipment.wEngine.level" disabled></label>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Upgrade : {{ agent.equipment.wEngine.grade }} / {{ wEngineClass.valuesLimit.grade }}</legend>
                                        <label><input type="range" min="1" :max="wEngineClass.valuesLimit.grade" v-model="agent.equipment.wEngine.grade"></label>
                                    </fieldset>
                                    <h5>W-Engine change</h5>
                                    <fieldset>
                                        <legend>Filter</legend>
                                        <div>
                                                <label v-for="(val, key) in wEngineClass.types">
                                                    <input type="radio" :name="'p'+ patternNo + 'wengine-class'" v-model="agent.selector.wEngine.type" :value="val">{{ val }}
                                                </label>
                                        </div>
                                        <div>Rank
                                                <label v-for="(val, key) in wEngineClass.ranks">
                                                    <input type="radio" :name="'p'+ patternNo + 'wengine-rank'" v-model="agent.selector.wEngine.rank" :value="val">{{ val }}
                                                </label>
                                        </div>
                                    </fieldset>
                                    <div class="flex">
                                        <button v-for="(data, key) in wEngineClass.pullItemList(agent.selector.wEngine.type, agent.selector.wEngine.rank)" :class="'wengine-' + data[0] + (data[0] == agent.equipment.wEngine.id ? ' selected' : '')" @click="agent.setWEngine(data[0])"><img :src="'./img/icon_wengine_'+data[0]+'.webp'" width="80" height="80"><span>{{ data[4] }}</span></button>
                                    </div>
                                    <!--
                                    <p><label>Class <select v-model="agent.equipment.wEngine.type"><option v-for="val in define.class" :value="val">{{ val }}</option></select></label>
                                        <label>Rank <select v-model="agent.equipment.wEngine.rank"><option v-for="val in define.rank" :value="val">{{ val }}</option></select></label>
                                        <label>Name <select v-model="agent.equipment.wEngine.id" @change="agent.setWEngine(agent.equipment.wEngine.id)"><option v-for="(data, key) in wEngineClass.data.filter(val => val[1] == agent.equipment.wEngine.type && val[2] == agent.equipment.wEngine.rank)" :value="data[0]">{{ data[4] }}</option></select></label></p>
                                    -->
                                </div>
                            </section>
                            <section class="driver" :id="'p' + patternNo + '-driver'">
                                <h4>Driver set</h4>
                                <div>
                                    <div class="disc">
                                        <label v-for="data in discClass.data.toSorted((a, b) => a[5] > b[5])" :data-id="data[0]"><input type="checkbox" :name="'p'+ patternNo + '-disc'" :value="data[0]" @click="setDriver(agent, data[0], this)" :data-slot="agent.equipment.discSet.findIndex(val => val == data[0])" :checked="agent.equipment.discSet.includes(data[0])" :disabled="(!agent.equipment.discSet.includes(data[0]) && !agent.equipment.discSet.includes(null))"></label>
                                    </div>
                                    <h5>Set Effects</h5>
                                    <div class="data">
                                        <table v-if="agent.equipment.discSet[0] != null">
                                            <caption>1 : {{ discClass.data[agent.equipment.discSet[0]][2] }}</caption>
                                            <tr>
                                                <th>2-pieces</th>
                                                <td>{{ define.display[discClass.data[agent.equipment.discSet[0]][3]] }}</td>
                                                <td>+{{ discClass.data[agent.equipment.discSet[0]][4] }}{{ displayUnit(discClass.data[agent.equipment.discSet[0]][3]) }}</td>
                                            </tr>
                                            <tr v-if="agent.equipment.discSet[2] == null">
                                                <th>4-pieces</th>
                                                <td colspan="2"></td>
                                            </tr>
                                        </table>
                                        <table v-if="agent.equipment.discSet[1] != null">
                                            <caption>2 : {{ discClass.data[agent.equipment.discSet[1]][2] }}</caption>
                                            <tr>
                                                <th>2-pieces</th>
                                                <td>{{ define.display[discClass.data[agent.equipment.discSet[1]][3]] }}</td>
                                                <td>+{{ discClass.data[agent.equipment.discSet[1]][4] }}{{ displayUnit(discClass.data[agent.equipment.discSet[1]][3]) }}</td>
                                            </tr>
                                        </table>
                                        <table v-if="agent.equipment.discSet[2] != null">
                                            <caption>3 : {{ discClass.data[agent.equipment.discSet[2]][2] }}</caption>
                                            <tr>
                                                <th>2-pieces</th>
                                                <td>{{ define.display[discClass.data[agent.equipment.discSet[2]][3]] }}</td>
                                                <td>+{{ discClass.data[agent.equipment.discSet[2]][4] }}{{ displayUnit(discClass.data[agent.equipment.discSet[2]][3]) }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                    <!--
                                    <h5>Disc Status</h5>
                                    <div class="flex" data-ver="1">
                                        <fieldset class="disc" v-for="disc, key in agent.equipment.disc">
                                            <legend>Partition {{ key + 1 }}</legend>
                                            <p v-if="key < 3"><span class="hidden-mobile">Main : </span>{{ define.display[discClass.mainTable[key]] }} +{{ discClass.getMainStat(discClass.mainTable[key], disc.level) }}</p>
                                            <p v-else><span class="hidden-mobile">Main : </span><select v-model="agent.equipment.disc[key].main" @change="agent.calcDiscTotal()"><option v-for="(name, key) in discClass.mainTable[key]" :value="name">{{ define.display[name] }}</option></select> +{{ discClass.getMainStat(agent.equipment.disc[key].main, disc.level) }}%</p>
                                            <ul>
                                                <li v-for="i in 4">
                                                    <select v-model="disc.sub[i-1].type" @change="agent.calcDiscTotal()">
                                                        <option v-for="(sub, key) in discClass.sub" :value="key">{{ define.display[key] }}</option>
                                                    </select>
                                                    <select v-model="disc.sub[i-1].level" @change="agent.calcDiscTotal()">
                                                        <option v-for="j in 6" :value="j - 1">{{ j - 1 }}</option>
                                                    </select>
                                                    +{{ discClass.getSubStat(disc.sub[i-1].type, disc.sub[i-1].level) }}
                                                </li>
                                            </ul>
                                        </fieldset>
                                    </div>
                                    -->
                            </section>
                            <section class="disc-setting" :id="'p' + patternNo + '-disc'">
                                <h4>Driver stats</h4>
                                <div class="status flex" data-ver="2">
                                    <fieldset class="disc" v-for="disc, key in agent.equipment.disc">
                                        <legend>Partition {{ key + 1 }}</legend>
                                        <table class="detail">
                                            <tr>
                                                <th>Main</th>
                                                <td class="name" colspan="2">{{ define.display[disc.main] }}</td>
                                                <td class="val">+{{ discClass.getMainStat(disc.main, disc.level) }}{{ displayUnit(disc.main) }}</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr v-for="i in 4">
                                                <th>Sub {{i}}</th>
                                                <td class="name">{{ define.display[disc.sub[i-1].type] }}</td>
                                                <td class="level">{{ disc.sub[i-1].level }}</td>
                                                <td class="val">+{{ discClass.getSubStat(disc.sub[i-1].type, disc.sub[i-1].level) }}{{ displayUnit(disc.sub[i-1].type) }}</td>
                                                <td class="input"><input type="range" max="5" min="0" v-model="disc.sub[i-1].level" @change="agent.calcDiscTotal()" list="disc-steps"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="5">Points remaining</td>
                                            </tr>
                                        </table>
                                        <fieldset v-if="key > 2" class="stat-button">
                                            <legend>Main Stat</legend>
                                            <label v-for="stat in discClass.mainTable[key]"><input type="radio" v-model="disc.main" :value="stat" @change="agent.calcDiscTotal()">{{ define.display[stat] }}</label>
                                        </fieldset>
                                        <fieldset class="stat-button">
                                            <legend>Sub Stat <small>(Up to 4 types)</small></legend>
                                            <label v-for="key in Object.keys(discClass.sub)">
                                                <input type="checkbox"
                                                    @click="setDiscSubStat(disc, key, agent)" 
                                                    :name="'p'+patternNo+'-substat'"
                                                    :checked="disc.sub.find(slot => slot.type == key) && disc.main != key"
                                                    :disabled="key == disc.main || (!disc.sub.find(slot => slot.type == key) && !disc.sub.find(slot => !slot.type == ''))"
                                                >{{ define.display[key] }}</label>
                                            </fieldset>
                                    </fieldset>
                                </div>
                                <datalist id="disc-steps">
                                    <option v-for="i in (agentClass.rangeLimits.discLevel.sub.max + 1)" :value="i" :label="i"></option>
                                </datalist>
                            </section>
                        </div>
                    </section>
                </section>
            </section>
            <footer class="open">
                <details>
                    <summary>General</summary>
                    <div>
                        <div>
                            <h3>View</h3>
                            <p><button>Minimize All</button><button>Expand All</button></p>
                            <p><label><input type="radio">Result Only</label><label><input type="radio">Half:Half</label><label><input type="radio">Setting Only</label></p>
                            <h4>Evaluation Score</h4>
                            <label><input type="radio" name="expectValueDisp">Expected ATK</label>
                            <label><input type="radio" name="expectValueDisp">Expected Damage</label>
                        </div>
                        <div>
                            <h3>Active Buffs</h3>
                            ATK% <input type="checkbox"> <input type="number" size="4" min="0" v-model="agentClass.activeBuff.rate" @change="forceUpdate()">% 
                            ATK <input type="checkbox"> <input type="number" size="4" min="0" v-model="agentClass.activeBuff.int" @change="forceUpdate()">
                        </div>
                        <div>
                            <h3>Enemy Setting</h3>
                            <p>Break Rate <input type="number" size="4" min="100" v-model="agentClass.enemy.breakRate" @change="forceUpdate()">%</p>
                            <p>DEF:<input type="number" size="4" min="0" v-model="agentClass.enemy.def" @change="forceUpdate()"> / Debuff:<input type="number" size="3" min="0" max="100" v-model="agentClass.enemy.defDebuff" @change="forceUpdate()"></p>
                            Weak 
                            <select v-model="agentClass.enemy.weak.attribute" @change="forceUpdate()">
                                <option v-for="val of define.attribute" :value="val">{{val}}</option>
                            </select>
                            <input type="number" size="4" min="0" v-model="agentClass.enemy.weak.rate" @change="forceUpdate()"> 
                            Resist 
                            <select v-model="agentClass.enemy.resist.attribute" @change="forceUpdate()">
                                <option v-for="val of define.attribute" :value="val">{{val}}</option>
                            </select><input type="number" size="4" min="0" v-model="agentClass.enemy.resist.rate" @change="forceUpdate()">%
                        </div>
                        <div>
                            <h3>Add Pattern</h3>
                            <select v-model="selector.type">
                                <option v-for="(val, key) in agentClass.types" :value="val">{{ val }}</option>
                            </select>
                            <select v-model="selector.rank">
                                <option v-for="(val, key) in agentClass.ranks" :value="val">{{ val }}</option>
                            </select>
                            <select v-model="selector.charId">
                                <option v-for="(data, key) in agentClass.agentData.filter(val => val[1] == selector.type && val[2] == selector.rank)" :value="Number(data[0])">{{ data[6] }}</option>
                            </select>
                            <button @click="addPattern()">Add</button>
                        </div>
                    </div>
                </details>
            </footer>
        </main>
        <footer></footer>
        <dialog>
            <div>
                <p></p>
            </div>
        </dialog>
        <script type="module">

            import { createApp, ref } from 'vue'

            const calcurator = createApp({
                data() {
                    return {
                        count: 0,
                        define: define,
                        agentClass: agentClass,
                        wEngineClass: wEngineClass,
                        discClass: discClass,
                        data: [ new agentClass(0) ],
                        std: 0,
                        selector: {
                            charId: 0,
                            type: '',
                            rank: ''
                        }
                    }
                },
                methods: {
                    expectedValue(key) {
                        const data = this.data[key]
                        return data.EXP = Math.floor(data.atk * (1 + (data.critD / 100) * (data.critR / 100)))
                    },
                    amplificationRatio(key) {
                        const data = this.data[key]
                        return Math.floor(data.EXP / data.base.atk * 100) / 100
                    },
                    calcRatioToStd(key) {
                        const data = this.data[key]
                        return Math.floor(data.EXP / this.data[this.std].EXP * 100) / 100
                    },
                    setStd(key) {
                        this.std = key
                    },
                    addPattern(key = undefined) {
                        const newPattern = this.data.push(new agentClass(this.selector.charId))
                        if(key !== undefined) {
                            function cloneObject(obj) {
                                const clone = {};
                                Object.keys(obj).forEach((i) => {
                                    //console.log('Object get property is:', Object.getOwnPropertyDescriptor(obj, i).get)
                                    obj[i] != null && typeof obj[i] === 'object' && !Object.getOwnPropertyDescriptor(obj, i).get
                                    ? (clone[i] = cloneObject(obj[i]))
                                    : (clone[i] = obj[i]);
                                });
                                //console.log(clone)
                                return clone
                            }
                            const newObject = cloneObject(this.data[key])
                            console.log(newObject)
                            Object.assign(newPattern, newObject)
                        }
                        this.data.splice(newPattern)
                    },
                    deletePattern(key) {
                        this.data.splice(key, 1)
                    },
                    displayUnit(text) {
                        if(!text) return ''
                        if(text != 'anm-p' && text.at(-1) != 'v') return '%'
                    },
                    setDriver(tgtObj, discId, obj) {
                        const discSet = tgtObj.equipment.discSet

                        const existKey = discSet.findIndex(val => val == discId)
                        if(existKey > -1) {
                            discSet[existKey] = null
                            tgtObj.calcDiscTotal()
                            return false
                        }
                        
                        const tgtKey = discSet.findIndex(val => val == null)
                        if(tgtKey > -1) {
                            discSet[tgtKey] = discId
                            tgtObj.calcDiscTotal()
                            return true
                        }
                    },
                    setDiscMainStat(tgtDisc, statName) {
                        const tgtSubSlot = tgtDisc.sub.filter(item => item.type == statName)
                        if(!tgtSubSlot.length) return false
                        for(const item of tgtSubSlot) {
                            item.type = ''
                        }
                        return true
                    },
                    setDiscSubStat(tgtDisc, statName, tgtAgent) {
                        let applicable = tgtDisc.sub.filter(slot => slot.type == statName)
                        if(applicable.length != 0) {
                            for(const slot of applicable) {
                                slot.type = ''
                            }
                            tgtAgent.calcDiscTotal()
                            return false
                        }
                        applicable = tgtDisc.sub.find(slot => slot.type == '')
                        if(applicable) {
                            applicable.type = statName
                            tgtAgent.calcDiscTotal()
                            return true
                        }
                    },
                    forceUpdate() {
                        this.count++
                    }
                }
            }).mount('main')

        </script>
    </body>
</html>