<!DOCTYPE html>
<html>
    <head>
        <title>Attack Calc</title>
        <link rel="stylesheet" href="common.css" type="text/css">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="importmap">
            {
                "imports": {
                  "vue": "https://unpkg.com/vue@3.5.13/dist/vue.esm-browser.js",
                  "vue/server-renderer": "https://cdn.jsdelivr.net/npm/@vue/server-renderer@3.5.13/dist/server-renderer.esm-browser.js"
                },
                "scopes": {}
            }
        </script>
    </head>
    <body>
        <main>
            <section>
                <details class="pattern" v-for="(stat, key) in data" open>
                    <summary><h3>No.{{ key + 1 }}</h3><span class="summary">Expected ATK:{{ expectedValue(key) }} / Amplification Ratio:{{ amplificationRatio(key) }} / Ratio to standard:{{ calcRatioToStd(key) }} </span></summary>
                    <button @click="setStd(key)">Set to standard</button><button @click="addPattern(key)">Duplication</button><button title="Delete" @click="deletePattern(key)">✕</button>
                    <table>
                        <tr>
                            <th>ATK</th><td><input type="text" size="5" v-model="stat.ATK">pts</td>
                            <th>CRIT Rate</th><td><input type="text" size="5" v-model="stat.CRR">%</td>
                            <th>CRIT DMG</th><td><input type="text" size="5" v-model="stat.CRD">%</td>
                        </tr>
                    </table>
                    <details>
                        <summary><h4>Damage Value</h4></summary>
                        <div>
                            <h5>Skill Damage</h5>
                            <div class="data">
                                <h6>Basic</h6>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Normal</th>
                                            <th>Critical</th>
                                            <th>Expected</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>1st</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>2nd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>3rd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>TTL</th>
                                            <td>3000</td>
                                            <td>4500</td>
                                            <td>3750</td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Normal</th>
                                            <th>Critical</th>
                                            <th>Expected</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>1st</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>2nd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>3rd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>TTL</th>
                                            <td>3000</td>
                                            <td>4500</td>
                                            <td>3750</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="data">
                                <h6>Dodge</h6>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Normal</th>
                                            <th>Critical</th>
                                            <th>Expected</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>1st</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>2nd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>3rd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>TTL</th>
                                            <td>3000</td>
                                            <td>4500</td>
                                            <td>3750</td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Normal</th>
                                            <th>Critical</th>
                                            <th>Expected</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>1st</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>2nd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>3rd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>TTL</th>
                                            <td>3000</td>
                                            <td>4500</td>
                                            <td>3750</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="data">
                                <h6>Assist</h6>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Normal</th>
                                            <th>Critical</th>
                                            <th>Expected</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>1st</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>2nd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>3rd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>TTL</th>
                                            <td>3000</td>
                                            <td>4500</td>
                                            <td>3750</td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Normal</th>
                                            <th>Critical</th>
                                            <th>Expected</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>1st</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>2nd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>3rd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>TTL</th>
                                            <td>3000</td>
                                            <td>4500</td>
                                            <td>3750</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="data">
                                <h6>Special</h6>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Normal</th>
                                            <th>Critical</th>
                                            <th>Expected</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>1st</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>2nd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>3rd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>TTL</th>
                                            <td>3000</td>
                                            <td>4500</td>
                                            <td>3750</td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Normal</th>
                                            <th>Critical</th>
                                            <th>Expected</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>1st</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>2nd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>3rd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>TTL</th>
                                            <td>3000</td>
                                            <td>4500</td>
                                            <td>3750</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="data">
                                <h6>Chain</h6>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Normal</th>
                                            <th>Critical</th>
                                            <th>Expected</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>1st</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>2nd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>3rd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>TTL</th>
                                            <td>3000</td>
                                            <td>4500</td>
                                            <td>3750</td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Normal</th>
                                            <th>Critical</th>
                                            <th>Expected</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>1st</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>2nd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                        <tr>
                                            <th>3rd</th>
                                            <td>1000</td>
                                            <td>1500</td>
                                            <td>1250</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>TTL</th>
                                            <td>3000</td>
                                            <td>4500</td>
                                            <td>3750</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div>
                            <h5>Anomaly Damage</h5>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Normal</th>
                                        <th>Critical</th>
                                        <th>Expected</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10000</td>
                                        <td>15000</td>
                                        <td>12500</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </details>
                    <details>
                        <summary><h4>Equipment & Agent Setup</h4></summary>
                        <section>
                            <h5>Disc Driver</h5>
                            <table>
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Slot 1</th>
                                        <th>Slot 2</th>
                                        <th>Slot 3</th>
                                        <th>Slot 4</th>
                                        <th>Slot 5</th>
                                        <th>Slot 6</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Type</th>
                                        <td>
                                            <select>
                                                <option>静寂のアストラ</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select>
                                                <option>静寂のアストラ</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select>
                                                <option>静寂のアストラ</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select>
                                                <option>静寂のアストラ</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select>
                                                <option>静寂のアストラ</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select>
                                                <option>静寂のアストラ</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Main</th>
                                        <td>HP 2200</td>
                                        <td>ATK 300</td>
                                        <td>DEF 300</td>
                                        <td><select><option>ATK%</option></select></td>
                                        <td><select><option>ELM DMG</option></select></td>
                                        <td><select><option>ATK%</option></select></td>
                                    </tr>
                                    <tr>
                                        <th rowspan="4">Sub</th>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                    </tr>
                                    <tr>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                    </tr>
                                    <tr>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                    </tr>
                                    <tr>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                        <td><select><option>ATK%</option></select><select><option>+0</option></select></td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                        <section>
                            <h5>W-Engine</h5>
                            <div>
                                <label>Class <select><option>Attack</option></select></label>
                                <label>Rank <select><option>S</option></select></label>
                                <label>Name <select><option>Deep Sea Visitor</option></select></label>
                                <span>Level 60</span>
                                <span>Promotion 5</span>
                            </div>
                        </section>
                        <section>
                            <h5>Agent</h5>
                            <div>
                                <label>Class <select><option>Attack</option></select></label>
                                <label>Rank <select><option>S</option></select></label>
                                <label>Name <select><option>Ellen Joe</option></select></label>
                                <span>Level 60</span>
                                <span>Promotion 5</span>
                            </div>
                            <div>
                                <h6>Skill Level</h6>
                                <ul>
                                    <li><label>Basic <input type="text" size="2"></label></li>
                                    <li><label>Dodge <input type="text" size="2"></label></li>
                                    <li><label>Assist <input type="text" size="2"></label></li>
                                    <li><label>Special <input type="text" size="2"></label></li>
                                    <li><label>Chain <input type="text" size="2"></label></li>
                                </ul>
                            </div>
                            <div>
                                <h6>Basic Status</h6>
                                <ul>
                                    <li><span>HP</span><span>1000</span></li>
                                    <li><span>ATK</span><span>1000</span></li>
                                    <li><span>DEF</span><span>1000</span></li>
                                    <li><span>IMP</span><span>1000</span></li>
                                    <li><span>CRIT Rate</span><span>5</span></li>
                                    <li><span>CRIT DMG</span><span>50</span></li>
                                    <li><span>ANM Buildup</span><span>1000</span></li>
                                    <li><span>ANM Proficiency</span><span>1000</span></li>
                                    <li><span>PEN</span><span>0</span></li>
                                    <li><span>EN Regen</span><span>1.2</span></li>
                                </ul>
                            </div>
                        </section>
                    </details>
                </details>
                <button @click="addPattern()">Add</button>
            </section>
        </main>
        <script type="module">

            import { createApp, ref } from 'vue'

            const calcurator = createApp({
                data() {
                    return {
                        dataTmp: {
                            ID: 0,
                            ATK: 0,
                            CRR: 5,
                            CRD: 50,
                            EXP: 0
                        },
                        data: [
                            {
                                ATK: 2856,
                                CRR: 68.2,
                                CRD: 104.4,
                                EXP: 0
                            }
                        ],
                        std: 0
                    }
                },
                methods: {
                    expectedValue(key) {
                        const data = this.data[key]
                        return data.EXP = Math.floor(data.ATK * (1 + (data.CRD / 100) * (data.CRR / 100)))
                    },
                    amplificationRatio(key) {
                        const data = this.data[key]
                        return Math.floor(data.EXP / data.ATK * 100) / 100
                    },
                    calcRatioToStd(key) {
                        const data = this.data[key]
                        return Math.floor(data.EXP / this.data[this.std].EXP * 100) / 100
                    },
                    setStd(key) {
                        this.std = key
                    },
                    addPattern(key = undefined) {
                        if(key === undefined) {
                            this.data.push(Object.assign({}, this.dataTmp))
                        } else {
                            this.data.splice(key, 0, Object.assign({}, this.data[key]))
                        }
                    },
                    deletePattern(key) {
                        this.data.splice(key, 1)
                    }
                }
            }).mount('main')

        </script>
    </body>
</html>