@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    /*font-family: "Oswald", "Century Gothic", sans-serif;*/
    font-family: "Barlow Condensed", "Century Gothic", sans-serif;
    font-weight: 500;
    color: #eee;
    scroll-behavior: smooth;
}

body {
    position: relative;
    background: repeating-linear-gradient(40deg, rgba(0,0,0,1), rgba(0,0,0,1) 4px, rgba(31,31,31, 1) 4px, rgba(31,31,31, 1) 8px);
    padding: 20px 10px;

    & > header {
        z-index: 1000;
        position: fixed;
        top: 0; left: 0;
        width: 100dvw;
        background: #000;
    }

    & > footer {
        
    }
}

h1 {
    line-height: 10pt;
    font-size: 10pt;
    font-weight: 800;
}

h4 {
    z-index: 1;
    position: sticky;
    top:0; left: 0;
    margin: 0;
    border-bottom: solid 1px #161616;
    background: #000d;
    padding: 4px 15px 8px 15px;
    line-height: 16pt;
    font-size: 16pt;
    font-weight: 700;
}

h4 + div {
    margin-bottom: 30px;
}

h5 {
    margin: 15px 0 0 0;
    width: 100%;
    height: calc(14pt + 10px);
    box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.2), 0px -1px 1px 0px rgba(0,0,0,0.3);
    border-radius: calc((14pt + 10px) / 2);
    background: #000;
    padding: 5px 5px 5px 10px;
    line-height: 14pt;
    font-size: 14pt;
    font-weight: 600;
    text-transform: capitalize;
}

p, li, dd {
    font-size: 12pt;
}

p {
    margin: 5px 0;
}

ul, table {
    margin-top: 10px;
}

table tr th {
    font-size: 12pt;
    font-weight: 600;
}

table tr td {
    padding: 3px;
    text-align: right;
    font-size: 12pt;
}

fieldset {
    overflow: hidden;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 1px #333;
    padding: 0 5px 5px 10px;
    
    & legend {
        padding: 0 5px;
        font-size: 12pt;
        font-weight: bold;
    }
}

input, select {
    -webkit-appearance: none;
    appearance: none;
    background: #333;
    border:none;
}

input[type="text"], input[type="number"] {
    text-align: right;
    border-radius: 5px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 3pt;
    width: 4pt;
    height: 4pt;
    border: none;
    border-radius: 2pt;
    background: #666;
    vertical-align: top;
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
    background: #3c3;
}

label:has(input[type="radio"]) {
    user-select: none;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    height: 12pt;
    border-radius: 6pt;
    padding: 1pt 5pt 1pt 0;
    line-height: 10pt;
    font-size: 10pt;
    font-weight: 600;
    color: #666;
    cursor: pointer;
}

label:has(input[type="radio"]), label:has(input[type="checkbox"]) {
    user-select: none;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    height: 14pt;
    border-radius: 7pt;
    padding: 2pt 5pt 2pt 1px;
    line-height: 9pt;
    font-size: 11pt;
    font-weight: 600;
    color: #666;
    cursor: pointer;
}

label:has(input[type="radio"]:checked), label:has(input[type="checkbox"]:checked) {
    background: #666;
    color: #eee;
}

fieldset.stat-button {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
}

input[type="range"] {
    margin: 14px 0;
    width: 100%;
    height: 6px;
    box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.1) , 0px -1px 1px 0px rgba(0,0,0,0.2) ;
    border: none;
    border-radius: 3px;
    background: #000;
    padding: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    z-index: 10;
    width: 24px;
    height: 32px;
    border-width: 1px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(95deg,
        #666 1px, #112 6px);
    border-radius: 2px;
    background: linear-gradient(90deg,
        #334 3px, #223 6px, #112 8px, #112 9px, #334 10px,
        #fff 10px, #fff 12px,
        #112 13px, #223 21px, #334 24px
        );
}
input[type="range"]::-moz-range-thumb {
    z-index: 10;
    width: 24px;
    height: 32px;
    border-width: 1px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(95deg,
        #666 1px, #112 6px);
    border-radius: 2px;
    background: linear-gradient(90deg,
        #334 3px, #223 6px, #112 8px, #112 10px, #556 11px,
        #fff 11px, #fff 13px,
        #112 13px, #223 21px, #334 24px
        );
}

label:has(input[type="range"]) {
    --max-range: 6;
    --spacer: calc(1px * var(---max-range));
    position: relative;
    height: 32px;
}

div.radio-group {
    flex-shrink: 0;
    overflow: hidden;
    user-select: none;
    display: inline-block;
    height: calc(14pt + 2px);
    border: solid 1px #161616;
    border-radius: calc(12pt + 4px);
    padding: 0 0 0 5px;
    line-height: 0pt;
    font-size: 10pt;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
    & span {
        display: inline-block;
        margin: 0 0 0 5px;
        height: 14pt;
        border-radius: 12pt;
        background: #161616;
        vertical-align: sub;
        padding-left: 1px;
    } 
}

div.flex-container {
    margin-top: 8px;
}

button {
    appearance: none;
    margin: 0 2px;
    height: calc(14pt + 2px);
    border-radius: calc(7pt + 1px);
    border: solid 1px #161616;
    background: #161616;
    padding: 0 8px;
    line-height: 10pt;
    font-size: 12pt;
    cursor: pointer;
}

button.delete {
    background: #900;
}

div.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main {
    position: relative;

    & > footer {
        z-index: 100;
        position: fixed;
        bottom: 0; left: 0;
        width: 100dvh;

        & > details {
            & > div, summary {
                background: #000d;
                & > div {
                    margin-bottom: 15px;
                }
            }
        }
    }

    & dialog#delete {
        position: relative;
        margin: 0;
        min-width: 100dvw;
        min-height: 100dvh;
        border: none;
        background: #000c;
        & > div {
            position: absolute;
            top: 50%; left: 50%;
            min-width: 350px;
            max-width: 350px;
            border: solid 6px #333;
            border-radius: 24pt;
            background: #000;
            padding: 20px;
            transform-origin: 50% 50%;
            transform: translate(-50%, -50%);
        }
        & blockquote {
            display: flex;
            margin: 10px 10px;
            color: #999;
            font-size: 9pt;
            font-weight: normal;
            font-style: italic;
        }
        & blockquote::before {
            display: block;
            margin-right: 8px;
            content: "“";
            font-size: 24pt;
            color: #333;
        }
        & blockquote::after {
            display: block;
            margin-left: 8px;
            content: "”";
            font-size: 24pt;
            color: #333;
        }
        & div.select {
            margin: 0;
            border-top: solid 1px #333;
            padding-top: 10px;
            text-align: right;
        }
    }
}

section.pattern {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto 10px auto;
    max-width: 800px;
    min-height: 62px;
    max-height: calc(100svh - 50px);
    border-radius: 31px;
    background: linear-gradient(0deg, #303030, #454545);
    box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.1) inset, 0px -1px 1px 0px rgba(0,0,0,0.2) inset;
    padding: 8px;
    line-height: 18px;
    font-size: 18px;
    color: #ddd;

    & > header {
        z-index: 0;
        flex-shrink: 0;
        display: flex;
        position: relative;
        justify-content: space-between;
        justify-items: center;
        flex-wrap: wrap;
        margin: 0;

        & h3 {
            user-select: none;
            z-index: 0;
            overflow: visible;
            margin: 0;
            width: 75px;
            height: 46px;
            line-height: 28pt;
            font-size: 64pt;
            font-weight: 900;
            font-style: italic;
            opacity: 0.2;
        }

        & div.summary {
            position: relative;
            flex-grow: 1;
            box-shadow: 1px 1px 1px 0px rgba(255,255,255,0.1), -1px -1px 1px 0px rgba(0,0,0,0.2);
            height: 46px;
            border-radius: 23px;
            background: #161616;
            background-size: auto 46px;
            padding-left: 150px;
            @media screen and (max-width: 480px) {
                padding-left: 130px;
            }

            & p {
                line-height: 4pt;
                font-size: 8pt;
                /*text-shadow: 1px 1px #000;*/

                & b {
                    display: inline-block;
                    padding-right: 5px;
                    line-height: 24pt;
                    font-size: 28pt;
                    font-weight: 800;
                    font-style: italic;
                    color: transparent;
                }

                & b.Physical    { background: linear-gradient(177deg, #efd500 30%, #fd9800 90%); background-clip: text; }
                & b.Fire        { background: linear-gradient(177deg, #ff7e1b 30%, #ef1200 90%); background-clip: text; }
                & b.Ice         { background: linear-gradient(177deg, #87faf7 40%, #00ced5 90%); background-clip: text; }
                & b.Electric    { background: linear-gradient(177deg, #27e6ff 40%, #007eff 90%); background-clip: text; }
                & b.Ether       { background: linear-gradient(177deg, #ff1729 40%, #a551ca 65%, #2e73ff 90%); background-clip: text;}
            } 

            & ul.equipment {
                user-select: none;
                position: absolute;
                top: 2px;
                right: 2px;
                margin: 0;
                padding: 0;

                & li {
                    position: absolute;
                    top: 0;
                    width: 42px;
                    height: 42px;
                    border-radius: 21px;
                    background: #000;
                    padding: 1px;
                }

                & li:nth-last-of-type(4) { z-index: 4; right: 60px; }
                & li:nth-last-of-type(3) { z-index: 3; right: 40px; }
                & li:nth-last-of-type(2) { z-index: 2; right: 20px; }
                & li:nth-last-of-type(1) { z-index: 1; right: 0px; }
            }
        }

        & details.control {
            z-index: 10;
            position: relative;
            width: 23px;
            height: 46px;

            & * {
                position: relative;
                left: -100px;
                width: 150px;
            }
        }
    }

    & div.control {
        flex-shrink: 0;
        margin-top: 8px;
        text-align: right;
    }
    
    & div.control:has(input.minimize:checked)~section {
        display: none;
    }

    & div.control:has(input.result:checked)~section.main {
        display: none;
    }

    & div.control:has(input.setting:checked)~section.result {
        display: none;
    }

    & > section {
        flex: 1 1 50%;
        position: relative;
        z-index: 1;
        box-shadow: 1px 1px 1px 0px rgba(255,255,255,0.1), -1px -1px 1px 0px rgba(0,0,0,0.2);
        margin-top: 8px;
        min-height: 30svh;
        border-radius: 23px;
        border: solid 1px #161616;
        background: #161616;
        padding: 0;

        & nav.page {
            z-index: 100;
            position: absolute;
            top: 0; right: 10px;
            & ul {
                display: flex;
                gap: 8px;
                margin: 0;
                border-radius: 0 0 10px 10px;
                background: #333;
                padding: 4px 8px;
                & li {
                    line-height: 9pt;
                    font-size: 9pt;
                    color: #ccc;
                }
                & a:visited {
                    color:#ccc;
                }
                & a:hover {
                    color:#eee;
                }
            }
        }
    }

    & section {

        & table.value-details {
            width: 100%;
            border-collapse: collapse;
            
            & thead {
                position: sticky;
                border-bottom: solid 1px #333;
            }

            & thead th {
                border-right: solid 1px #333;
            }

            & tbody tr:nth-of-type(even) {
                background: #282828;
            }

            & tbody th, tbody td {
                border: solid 1px #161616;
            }

            & tbody th {
                padding: 0 3px;
                text-align: right;
            }

            & td {
                width: 13%;
            }

            @media screen and (max-width:480px) {
                & thead th, tbody th, td {
                    font-size: 9pt;
                }
            }
        }
    }
    
    & > section.main, > section.result {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        & div.wrapper {
            flex: 1;
            display: flex;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            padding: 0;

            & > section {
                overflow-y: scroll;
                scroll-snap-align: center;
                scroll-snap-stop: always;
                max-width: 100%;
                min-width: 100%;
                max-height: 100%;
                padding: 0px;

                & > div {
                    padding: 8px;
                }
            }
        }

        & div.data {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            & h5.skill {
                position: relative;
                height: 30px;
                padding-left: 35px;
                background-repeat: no-repeat;
                background-size: 30px;
                white-space: nowrap;
            }
            
            & h5.basic { background-image: url(./img/icon_skill_basic.webp); }
            & h5.dodge { background-image: url(./img/icon_skill_dodge.webp); }
            & h5.assist { background-image: url(./img/icon_skill_assist.webp); }
            & h5.special { background-image: url(./img/icon_skill_special.webp); }
            & h5.chain { background-image: url(./img/icon_skill_chain.webp); }

            & h5 {
                & label {
                    display: block;
                    position: absolute;
                    top: 3px; right: 3px;
                    height: 24px;
                    border-radius: 10px;
                    background: #161616;
                    padding: 0 8px;
                    line-height: 18pt;
                    font-size: 12pt;

                    & input[type="text"] {
                        display: inline-block;
                        margin: 2px 0px;
                        box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.1), 0px -1px 1px 0px rgba(0,0,0,0.2);
                        width: 2em;
                        height: 20px;
                        background-color: #000;
                        padding: 0 4px;
                        line-height: 12pt;
                        font-size: 12pt;
                        vertical-align: top;
                    }
                    & input[type="range"] {
                        display: inline-block;
                        width: 120px;
                        margin: 9px 0;
                        vertical-align: top;
                    }
                    & input[type="range"]::-webkit-slider-thumb {
                        height: 24px;
                    }
                    & input[type="range"]::-moz-range-thumb {
                        height: 24px;
                    }
                }
            }

            & table {
                margin: 10px 0 0 0;
                min-width: calc(50% - 5px);
                
                @media screen and (max-width:480px) {
                    width: 100%;
                }

                & caption {
                    margin: 0 0 5px 0;
                    border-radius: calc(5pt + 5px);
                    background: #222;
                    padding: 5px;
                    text-align: left;
                    line-height: 10pt;
                    font-size: 10pt;
                }

                & tr > * {
                    border-bottom: dashed 1px #333;
                }
            }
        }

        & section.agent, section.wengine {
            & table.basic-status {
                border-collapse: collapse;
                & th, td {
                    border: solid 1px #333;
                    line-height: 12pt;
                    font-size: 12pt;
                }
                & th {
                    width: 13%;
                    height: 2em;
                    padding: 3px 8px;
                    background: #333;
                }
                & td {
                    width: 15em;
                    padding: 3px 5px;
                    white-space: nowrap;
                    & img {
                        vertical-align: bottom;
                    }
                }
            }
            & div.flex {
                justify-content: left;
                gap: 4px;
                margin-top: 10px;
            }
            & button {
                position: relative;
                overflow: hidden;
                margin: 0;
                width: calc(20% - 4px);
                height: 45px;
                border-radius: 10px;
                border: solid 3px #000;
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: -15px;
                background-color: rgba(0, 0, 0, .5);
                background-blend-mode: darken;
                padding: 0;
                line-height: 7pt;
                font-size: 7pt;
                text-align: right;
                text-shadow: 1px 1px #000;

                @media screen and (max-width: 480px) {
                    width: calc(33% - 2px);
                    background-position-x: -25px;
                }
                & span {
                    display: block;
                    position: absolute;
                    right: 0; bottom: 0;
                    z-index: 1;
                    padding: 1px 3px;
                }
                & img {
                    display: block;
                    z-index: 0;
                    position: absolute;
                    top: -22px; left: -5px;
                    opacity: 0.5;
                }
            }
            & button.selected {
                border: solid 3px #3c3;
                background-blend-mode: normal;
                & img {
                    opacity: 1;
                }
            }
            & button:hover, button:active {
                background-blend-mode: normal;
                & img {
                    opacity: 1;
                }
            }
            & .agent-0 { background-image: url(./img/agent-thumb-0.png) }
            & .agent-1 { background-image: url(./img/agent-thumb-1.png) }
            & .agent-2 { background-image: url(./img/agent-thumb-2.png) }
            & .agent-3 { background-image: url(./img/agent-thumb-3.png) }
            & .agent-4 { background-image: url(./img/agent-thumb-4.png) }
            & .agent-5 { background-image: url(./img/agent-thumb-5.png) }
            & .agent-6 { background-image: url(./img/agent-thumb-6.png) }
            & .agent-7 { background-image: url(./img/agent-thumb-7.png) }
            & .agent-8 { background-image: url(./img/agent-thumb-8.png) }
            & .agent-9 { background-image: url(./img/agent-thumb-9.png) }
            & .agent-10 { background-image: url(./img/agent-thumb-10.png) }
            & .agent-11 { background-image: url(./img/agent-thumb-11.png) }
            & .agent-12 { background-image: url(./img/agent-thumb-12.png) }
            & .agent-13 { background-image: url(./img/agent-thumb-13.png) }
            & .agent-14 { background-image: url(./img/agent-thumb-14.png) }
            & .agent-15 { background-image: url(./img/agent-thumb-15.png) }
            & .agent-16 { background-image: url(./img/agent-thumb-16.png) }
            & .agent-17 { background-image: url(./img/agent-thumb-17.png) }
            & .agent-18 { background-image: url(./img/agent-thumb-18.png) }
            & .agent-19 { background-image: url(./img/agent-thumb-19.png) }
            & .agent-20 { background-image: url(./img/agent-thumb-20.png) }
            & .agent-21 { background-image: url(./img/agent-thumb-21.png) }
            & .agent-22 { background-image: url(./img/agent-thumb-22.png) }
            & .agent-23 { background-image: url(./img/agent-thumb-23.png) }
            & .agent-24 { background-image: url(./img/agent-thumb-24.png) }
            & .agent-25 { background-image: url(./img/agent-thumb-25.png) }
            & .agent-26 { background-image: url(./img/agent-thumb-26.png) }
            & .agent-27 { background-image: url(./img/agent-thumb-27.png) }
            & .agent-28 { background-image: url(./img/agent-thumb-28.png) }
            & .agent-29 { background-image: url(./img/agent-thumb-29.png) }
        }

        & section.driver {
            & div.disc {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                row-gap: 4px;
                margin-top: 10px;

                & label {
                    z-index: 0;
                    position: relative;
                    overflow: hidden;
                    width: 24%;
                    height: 40px;
                    border-radius: 20px;
                    border: solid 2px #000;
                    background-color: rgba(0,0,0,0.5);
                    background-blend-mode: darken;
                    background-position: 25px 50%;
                    background-repeat: no-repeat;
                    background-size: 75%;
                    text-align: right;
                    line-height: 50px;
                    font-size: 9pt;
                    font-weight: 900;

                    & * {
                        visibility: hidden;
                        width: 1px;
                        height: 1px;
                    }
                }

                & label:has(input:disabled) {
                    filter: grayscale();
                }

                & label:has(input:checked) {
                    border-color: #3c3;
                    background-position-x: 25px;
                    background-size: 75%;
                    background-color: #000;
                    background-blend-mode: normal;
                }

                & label:has(input:checked)::before {
                    position: absolute;
                    top: 6px;
                    left: 6px;
                    display: block;
                    width: 18px;
                    height: 18px;
                    border: solid 2px #161616;
                    border-radius: 14px;
                    background: #3c3;
                    text-align: center;
                    line-height: 18px;
                    font-size: 16px;
                    font-weight: 700;
                    color: #000;
                }

                & label:has(input[data-slot="0"])::before { content:'1' }
                & label:has(input[data-slot="1"])::before { content:'2' }
                & label:has(input[data-slot="2"])::before { content:'3' }
            }
        }
    }
}

section.driver {

    & [class*="disctype"] {
        width: calc(50% - 3px);
        height: 80px;
        border-radius: 40px;
        border: solid 3px #000;
        background-repeat: no-repeat;
        background-size: 100px;
        background-position: -10px;
        padding: 10px 15px 0 95px;
    }

    & .disctype-0 { background-image: url(./img/icon_disc_0.webp); }
    & .disctype-1 { background-image: url(./img/icon_disc_1.webp); }
    & .disctype-2 { background-image: url(./img/icon_disc_2.webp); }
    & .disctype-3 { background-image: url(./img/icon_disc_3.webp); }
    & .disctype-4 { background-image: url(./img/icon_disc_4.webp); }
    & .disctype-5 { background-image: url(./img/icon_disc_5.webp); }
    & .disctype-6 { background-image: url(./img/icon_disc_6.webp); }
    & .disctype-7 { background-image: url(./img/icon_disc_7.webp); }
    & .disctype-8 { background-image: url(./img/icon_disc_8.webp); }
    & .disctype-9 { background-image: url(./img/icon_disc_9.webp); }
    & .disctype-10 { background-image: url(./img/icon_disc_10.webp); }
    & .disctype-11 { background-image: url(./img/icon_disc_11.webp); }
    & .disctype-12 { background-image: url(./img/icon_disc_12.webp); }
    & .disctype-13 { background-image: url(./img/icon_disc_13.webp); }
    & .disctype-14 { background-image: url(./img/icon_disc_14.webp); }
    & .disctype-15 { background-image: url(./img/icon_disc_15.webp); }

    & .description {
        text-align: left;
        font-size: 9pt;
        font-weight: normal;
    }
}

section.disc-setting {
    & div.status {
    
        & fieldset.disc {
            width: calc(50% - 4px);
            border: none;
            background: #080808;
            box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.1), 0px -1px -1px 0px rgba(0,0,0,0.2);
        
            @media screen and (max-width: 480px) {
                width: 100%;
            }

            & > legend {
                display: block;
                height: 18pt;
                box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.1), 0px -1px -1px 0px rgba(0,0,0,0.2);
                border: solid 2px #060606;
                border-radius: 9pt;
                padding: 0 6pt;
                background: #161616;
                font-size: 14pt;
            }
        }
    
        & table.detail {
            margin: 5px 0 0 0;
            border-collapse: collapse;
            & tr * {
                font-size: 12pt;
                white-space: nowrap;
            }
            & tr:first-of-type {
                & * {
                    font-size: 14pt;
                }
            }
            
            & tr {
                & th, td {
                    border-bottom: dashed 1px #333;
                }
                & th {
                    width: 5em;
                    text-align: right;
                }
                & th::after {
                    content: ' : '
                }
                & td.name {
                    width: 23%;
                    border-radius: 8px;
                    text-align: left;
                }
                & td.level {
                    width: 7%;
                }
                & td.level::before {
                    content: '+'
                }
                & td.val {
                    width: 17%;
                    padding-right: 5px;
                }
                & td.input {
                    width: 40%;
                    min-width: 40%;
                    max-width: 40%;
                    height: 32px;
                    padding: 0;
                }
            }
        }
    }
}

section.status2 {
    & .value-group {
        margin: 0;
    }
    & .breakdown {
        margin: 0;
        padding: 1pt 3pt;
        background: #000;
            line-height: 10pt;
            font-size: 10pt;
        & .base {
            border-radius: 5pt;
            padding: 1pt 3pt;
            background: #000;
        }
        & .multiply {
            border-radius: 6pt;
            padding: 1pt 3pt;
            background: #161616;
        }
    }
    & .total {
        margin: 0;
        line-height: 20pt;
        font-size:24pt;
        font-weight: 800;
    }
    & .bonus-group {
        & dl {
            display: flex;
            & div {
                flex: 1;
                border-left: solid 1px #333;
                padding: 4px;
            }
            & .unmatch * {
                filter: brightness(50%);
            }
            & dt {
                font-size: 9pt;
            }
            & dd {
                text-align: right;
                font-size: 14pt;
                font-weight: 800;
            }
        }   
    }
}

@media screen and (max-width: 959px) {
    
}

@media screen and (max-width: 480px) {
    .hidden-mobile {
        display: none;
    }
}